
<div class="content-div-main-index" >
  <divclass="div-main-index" >
   
    <div class="texto" style="width: 80%; margin:auto;">
      <p class="texto" >
        <span>Version 1.0</span>
        <hr />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut suscipit
        commodi deleharum aliquam nihil neque. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Culpa cumque veniam placeat esse nostrum
        molestias tenetur in deserunt vero architectonam nobis laboriosam.
        Assumenda voluptates eos voluptatem, ad adipisci voluptas dignissimos
        fuga.
      </p>
    </div>

    <div class="content-btns" >

      <a href="/about/autores" class="btns"><i class="fa-regular fa-user">Autores</i>
        </a>
      <a href="/" class="btns"><i class="fa-solid fa-backward">Regresar</i></a>
    </div>
  </div>

</div>