<div class="content-div-main-index" >
<div class="div-main-index" style="flex-direction:column; gap:10px;" >
      <div class="autor">
        <div class="foto-abner"></div>
        <p class="texto">
          Abner Emanuel Gutierrez Altamirano <br />
          abnergutierrez.com@gmail.com <br />
          734-133-09-70 <br />
          Zacatepec Morelos México <br />
        </p>
      </div>

      <div class="autor">
        <div class="foto-dbra"></div>
        <p class="texto">
          Debora Cruz Altamirano<br /> <span style="color: transparent;">dsadss</span>
          deboracruz.com@gmail.com <br />
          +1 (956) 561-8247 <br />
          Brownsville Texas U.S. <br />
        </p>
      </div>

<a href="/about" class="btns"><i class="fa-solid fa-backward">Regresar</i></a>
</div>

</div>