
<div class="content-div-main-index" >
    <div class="div-main-index" style="flex-direction: column;  justify-content:space-around;">
      <h2 style="color:#fff;">Para poder ingresar inserta la contraseña</h2>
      <form action="/entrar/login/pos" method="POST">

  <input class="input-txt" type="password" name="password" placeholder="Insete la contraseña" required="true">
<button class="botones">Ingresar</button>
    </form>
    <a href="/entrar" class="btns">Cancelar</a>
    </div>
</div>