
<div class="content-div-main-index">
    
<div class="div-main-index" style="">
 
  <div class=" content-btns" style="height:80%; display:flex; flex-direction:column; align-items:center; justify-content:space-around; ">
    <a href=""  class="btns"> <i class="fa-regular fa-circle-xmark">Exit</i></a>
    <a href="/about" class="btns"><i class="fa-regular fa-user">About</i></a>
    <a href="/entrar" class="btns"><i class="fa-solid fa-play">Start</i></a>
  </div>
  <p style="font-size: 30px; color:#fff; font-weight:600;  text-align:center">SISTEMA EXPERTO <br> PARA IDENTIFICAR <br> MODELOS DE MOTOS ITALIKA</p>

 
 </div>

</div>