<h2>Aqui para mostrar todos los datos de la base de datos</h2>
<a href="/entrar/login/get">Regresar</a>
<table>
   <style>
      th,tr{
         text-align: center;
         font-size: 17px;
      }
   </style>
  <tr>
    <th>Modelo</th>
    <th>Descripcion</th>
    <th>id</th>
    <th>Ruta imagen</th>
   </tr>
   {{#each allMotos}}
   <tr>
    <td style="width: 10%;">{{modelo}}</td>
    <td>{{descripcion}}</td>
    <td>{{_id}}</td>
    <td>{{path}}</td>
   </tr>
   {{/each}}
</table>



