<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://kit.fontawesome.com/936db2940f.js" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/936db2940f.js" crossorigin="anonymous"></script>
    <title>Sistema expeto</title>
  </head>
  <body>
   <div class="content-logos">
  <div class="logo-itz"></div>
  <div class="logo-sx"></div>
</div>
  

    {{{body}}}

  </body>
</html>